{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">All posts</h1>
{{ end }}

<ul class="posts">
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<span class="meta-list">{{ dateFormat .Site.Params.dateFormat .Date }}</span> <a href="{{ .RelPermalink }}">{{.Title}}</a> 
			{{ if .Params.tags }}
			<i>
				- Tags:
			{{ range $index, $tag := .Params.tags }}
				{{ if $index }}, {{ end }}
				<a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag }}</a>
			{{ end }}
			</i>
			{{ end }}
			{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
		</li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}
