<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			<main class="list">
				<div>
					<h1>Welcome!</h1>
				</div>
				It awaits you another blog rambling mostly about web application security topics.
				<br>
				<br>
				<a href="{{ "/posts" | absURL }}">All posts</a><br>
				<a href="{{ "/about" | absURL }}">About</a><br>
				<a href="{{ "/tags" | absURL }}">Tags</a><br>
			</main>
			{{ partial "footer.html" . }}
		</div>		
	</body>
</html>
